.game-hall{
  padding: 20px;

  .list-room{
    >li{
      margin: 10px;
      text-align: center;
      display: inline-block;
      vertical-align: middle;

      >div{
        width: 100px;
        line-height: 30px;
        vertical-align: middle;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      >.icon-user{
        color: #ddd;
        font-size: 30px;
        cursor: pointer;
      }

      .list-table-image{
        width: 100px;
        height: 109px;
        margin-top: 5px;
        margin-bottom: 5px;
        background: url("../../../static/images/chessboard.jpg") no-repeat center;
        background-size: contain;
      }
    }
  }
}