$border-color: #999;
$serif-spacing: 4%;
$chess-size: 90%;
$piece-red: #d9534f;
$piece-black: #333;

$brand-primary: #428bca;
$brand-success: #5cb85c;
$brand-info:    #5bc0de;
$brand-warning: #f0ad4e;
$brand-danger:  #d9534f;

@mixin absolute-fill{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
@mixin serif-upper-left{
  top: $serif-spacing;
  left: $serif-spacing;
  border-top: 1px solid $border-color;
  border-left: 1px solid $border-color;
}
@mixin serif-upper-right{
  top: $serif-spacing;
  right: $serif-spacing;
  border-top: 1px solid $border-color;
  border-right: 1px solid $border-color;
}
@mixin serif-lower-left{
  left: $serif-spacing;
  bottom: $serif-spacing;
  border-left: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
}
@mixin serif-lower-right{
  right: $serif-spacing;
  bottom: $serif-spacing;
  border-right: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
}

@keyframes twinkle {
  0%{
    opacity: 1;
  }
  50%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.chinese-chess{
  height: 100%;

  .container{
    width: 550px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;

    .wrapper{
      flex: 1;
      padding-top: 113%;
      position: relative;

      .chessboard{
        top: 0;
        width: 100%;
        position: absolute;
        border: 1px solid $border-color;
        box-sizing: border-box;
        border-spacing: 0;
        border-collapse: collapse;

        td{
          padding-top: 12.2%;
          border: 1px solid $border-color;
          position: relative;
        }

        .river{
          position: relative;

          >div{
            @include absolute-fill;
            text-align: center;

            &:before{
              content: '';
              position: absolute;
              top: 10%;
              left: 0;
              bottom: 10%;
              width: 50%;
              box-sizing: border-box;
              background: url("../../../static/images/river1.png") no-repeat center;
              background-size: contain;
            }

            &:after{
              content: '';
              position: absolute;
              top: 10%;
              right: 0;
              bottom: 10%;
              width: 50%;
              box-sizing: border-box;
              background: url("../../../static/images/river2.png") no-repeat center;
              background-size: contain;
            }
          }
        } //.chu-river end

        .diagonal{
          @include absolute-fill;
          overflow: hidden;

          &.diagonal-ac:before, &.diagonal-bd:before{
            content: '';
            position: absolute;
            width: 300%;
            height: 1px;
            background-color: $border-color;
            top: 0;
            left: -100%;
            right: 0;
            bottom: 0;
            margin: auto;
            transform-origin: center center;
          }

          &.diagonal-ac:before{
            transform: rotateZ(45deg);
          }

          &.diagonal-bd:before{
            transform: rotateZ(-45deg);
          }
        } //.diagonal end

        .serif{
          @include absolute-fill;

          &:before, &:after{
            content: '';
            position: absolute;
            width: 13%;
            height: 13%;
          }

          &.serif-lower-left:after{
            @include serif-lower-left;
          }

          &.serif-lower-right:after{
            @include serif-lower-right;
          }

          &.serif-upper-left:after{
            @include serif-upper-left;
          }

          &.serif-upper-right:after{
            @include serif-upper-right;
          }

          &.serif-diagonal-ac{
            &:before{
              @include serif-upper-left;
            }
            &:after{
              @include serif-lower-right;
            }
          }

          &.serif-diagonal-bd{
            &:before{
              @include serif-upper-right;
            }
            &:after{
              @include serif-lower-left;
            }
          }
        } //serif end

        .chess-pos{
          position: absolute;
          width: $chess-size;
          height: $chess-size;
          top: -$chess-size / 2;
          left: -$chess-size / 2;
          //border: 1px solid #ccc;
          box-sizing: border-box;

          &.last-col{
            left: auto;
            right: -$chess-size / 2;
          }

          &.last-row{
            top: auto;
            bottom: -$chess-size / 2;
          }

          &.last-pos{
            top: auto;
            left: auto;
            right: -$chess-size / 2;
            bottom: -$chess-size / 2;
          }
        } //.chess-pos end

        .chess-piece{
          color: $piece-black;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          box-sizing: border-box;
          font-size: 40px;
          border-radius: 1000px;
          background-position: center center;
          background-size: contain;
          background-blend-mode: lighten;
          //border: 2px solid currentColor;
          //background-color: #fff;

          &.chess-piece-red{
            color: darken($piece-red, 10%);
          }

          >img{
            width: 100%;
            height: 100%;
          }
        }//.chess-piece end

        .piece-selected{
          animation: twinkle 1.5s ease 0s infinite;
        }//.piece-selected end

        .piece-valid{
          &:before{
            content: '';
            @include absolute-fill;
            width: 20%;
            height: 20%;
            border-radius: 1000px;
            margin: auto;
            background-color: $brand-success;
            z-index: 1000;
          }
        }//.piece-valid end

        .piece-moved{
          &:before, &:after, >div:before, >div:after{
            color: #00ADEF;
            content: '';
            position: absolute;
            width: 20%;
            height: 20%;
          }

          &:before{
            top: -5%;
            left: -5%;
            border-top: 2px solid currentColor;
            border-left: 2px solid currentColor;
          }

          &:after{
            top: -5%;
            right: -5%;
            border-top: 2px solid currentColor;
            border-right: 2px solid currentColor;
          }

          >div:before{
            bottom: -5%;
            left: -5%;
            border-bottom: 2px solid currentColor;
            border-left: 2px solid currentColor;
          }

          >div:after{
            bottom: -5%;
            right: -5%;
            border-bottom: 2px solid currentColor;
            border-right: 2px solid currentColor;
          }
        }//.piece-moved end
      } //.chess-board end
    } //.wrapper end
  } //.container end
}